@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  color: #101828;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h3 {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #7c5bff;
  padding: 0.44rem 0.88rem;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 2.44rem;
}
.btn:hover {
  background-color: #fff;
  color: #7c5bff;
  border: 1px solid #7c5bff;
}

.icon {
  height: 2.125rem;
  width: 2.125rem;
  background-color: #ecebff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-left: 1px solid #c9c7ff;
  text-align: center;
  flex: 1;
  padding: 0 2rem;
}
.card:first-child {
  border-left: none;
}
.card .card-credits-heading {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  color: #000;
  margin: 0 0 1.19rem 0;
}
.card .card-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 3rem 0;
}
.card .card-price-heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  color: #7c5bff;
  margin: 0 0 1.19rem 0;
}
.card .card-tagline {
  margin: auto;
  color: #6f6c90;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 1.69rem 0;
}
.card .card-pricing-benefits-list li {
  text-align: left;
}
.card .card-pricing-benefits-list li::before {
  content: "";
  width: 1.30781rem;
  height: 1.30781rem;
  background-image: url("../../assets/icons/check-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}
.card .card-pricing-benefits-list li p {
  color: #6f6c90;
  margin-left: 2rem;
}
.card .card-pricing-benefits-list li .card-pricing-benefits-list-imp-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  color: #101828;
}

.sidebar {
  background-color: #e2eeee;
  width: 7.5rem;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 10.81rem;
  padding: 0;
  list-style-type: none;
}
.upper-sidebar li {
  display: flex;
  width: 3.875rem;
  height: 2.4375rem;
  padding: 0.125rem 0.375rem 0.125rem 0.3125rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}
.upper-sidebar li:hover {
  border: 1px solid #7c5bff;
  background: #ebe9ff;
}
.upper-sidebar li:hover svg,
.upper-sidebar li:hover svg path {
  fill: #7c5bff;
}

.lower-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.lower-sidebar li {
  cursor: pointer;
}

.main {
  margin: 0 5.44rem 0 7.5rem;
  padding: 0 0 4.87rem 2.06rem;
}

.table-wrapper {
  min-width: 830px;
  overflow: auto;
}

.table {
  width: calc(100% - 2px);
  list-style-type: none;
  border-radius: 8px;
  border: 1px solid #ababab;
  overflow-y: hidden;
}
.table :last-child {
  border-bottom: none;
}
.table .icon-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.62rem;
  justify-content: start;
}
.table .avatar-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.38rem;
  justify-content: start;
}
.table .invoice-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  justify-content: start;
}

.table-header {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  background-color: #e2e2e2;
  padding-left: 5px;
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  gap: 4px;
  text-align: start;
  border-bottom: 1px solid #ababab;
}

.table-row {
  padding-left: 5px;
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  gap: 4px;
  text-align: start;
  transition: all 0.1s ease-in;
  border-bottom: 1px solid #ababab;
}
.table-row time {
  align-self: center;
}
.table-row:hover {
  background-color: rgba(227, 227, 227, 0.5725490196);
}

.price-section {
  border: 1px solid #c9c7ff;
  padding: 1.62rem 0;
  max-width: 75rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: auto;
  border-radius: 0.5rem;
  margin-bottom: 3.75rem;
}