@use "../abstract/mixin" as *;
@use "../abstract/variables" as *;

.card {
  border-left: 1px solid $price-section-border-color;
  text-align: center;
  flex: 1;
  &:first-child {
    border-left: none;
  }
  padding: 0 2rem;
}

.__title-wrapper {
  @include flex-horizontal-center(1rem);
  margin: 0 0 3rem 0;
  h3 {
    margin: 0;
    padding: 0;
  }
}

.__credits {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  color: $black;
  margin: 0 0 1.19rem 0;
}

.__price {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  color: $primary;
  margin: 0 0 1.19rem 0;
}

.__tagline {
  margin: auto;
  color: $primary-lighten;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 1.69rem 0;
}

.__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  & > li {
    @include flex-horizontal-center;
    justify-content: start;
    padding: 0;
    margin: 0;
    & > p {
      color: $primary-lighten;
      margin: 5px;
    }
  }
  & > li::before {
    content: "";
    display: inline-block;
    width: 1.30781rem;
    height: 1.30781rem;
    margin-right: 0.75rem;

    background-image: url("../../assets/icons/check-icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .__list-imp-text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    color: $secondary;
  }
}
