@use "../vendors/imports" as *;

.card {
  border-left: 1px solid $price-section-border-color;
  text-align: center;
  flex: 1;
  &:first-child {
    border-left: none;
  }
  padding: 0 2rem;
  .card-credits-heading {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    color: $black;
    margin: 0 0 1.19rem 0;
  }
  .card-title-wrapper {
    @include flex-horizontal-center;
    gap: 1rem;
    margin: 0 0 3rem 0;
  }
  .card-price-heading {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    color: $primary;
    margin: 0 0 1.19rem 0;
  }
  .card-tagline {
    margin: auto;
    color: $primary-lighten;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 1.69rem 0;
  }
}
.pricing-card-benefits-list li {
  text-align: left;
  &::before {
    content: "";
    width: 1.30781rem;
    height: 1.30781rem;
    background-image: url("../../assets/icons/check-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }
  p {
    color: $primary-lighten;
    margin-left: 2rem;
  }
  .pricing-card-benefits-list-bold-text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    color: $secondary;
  }
}
