@use "../vendors/all" as *;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin: 0 5.44rem 0 $sidebar-width;
  padding: 0 0 4.87rem 2.06rem;
}

.section-heading {
  color: $secondary;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
