@use "../abstract/mixin" as *;
@use "../abstract/variables" as *;

.table {
  max-width: 75rem;
  width: 100%;
//   margin: auto;

}

.__table-row {
  @include flex-horizontal-center(4.5rem);
  justify-content: space-between;
  text-align: left;
  height: 2.875rem;
  &:first-child {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
  }
}

.__icon-cell {
  @include flex-horizontal-center(0.62rem);
}
.__avatar-cell {
  @include flex-horizontal-center(0.38rem);
}
.__invoice-cell {
  @include flex-horizontal-center(0.25rem);
}
