@use "../vendors/all" as *;

.table {
  width: 100%;
  list-style-type: none;
  border-radius: 8px;
  border: 1px solid $table-border-color;
}

.table-row-1 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  background-color: $table-head-bg-color;
}
.table-row-4 {
  border: none;
}

.table-row {
  border-bottom: 1px solid $table-border-color;
  padding-left: 5px;
  :last-child {
    border-bottom: none;
  }
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  text-align: start;
  time {
    align-self: center;
  }
}

.icon-cell {
  @include flex-horizontal-center(0.62rem);
  justify-content: start;
}
.avatar-cell {
  @include flex-horizontal-center(0.38rem);
  justify-content: start;
}
.invoice-cell {
  @include flex-horizontal-center(0.25rem);
  justify-content: start;
}
