@use "../abstract/variables" as *;

.btn {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: $btn-border-radius;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 2.44rem;
  &:hover {
    color: $white;
    background-color: $primary;
    border: 1px solid transparent;
  }
}
