@mixin flex-vertical-center($gap: 0rem) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
}

@mixin flex-horizontal-center($gap: 0rem) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
