$black: #000;
$white: #fff;

$primary: #7c5bff;
$secondary: #101828;

$primary-lighten: #6f6c90;
$price-section-border-color: #c9c7ff;

$sidebar-background: #e2eeee;
$sidebar-icon-bg: #ebe9ff;
$sidebar-width: 7.5rem;
$sidebar-height: 100vh;

$btn-padding-x: 0.88rem;
$btn-padding-y: 0.44rem;

$btn-border-radius: 0.25rem;

$icon-height: 2.125rem;
$icon-width: 2.125rem;
$icon-bg-color: #ecebff;
